<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
</head>
<body>

<a href="{% url 'generate_teachers:create-teacher' %}">Create teacher</a><br>
<a href="{% url 'generate_teachers:create-student' %}">Create student</a><br>
<a href="{% url 'generate_teachers:create-group' %}">Create group</a><br>
<a href="{% url 'generate_teachers:teachers' %}">Show teachers</a><br>
<a href="{% url 'generate_teachers:students' %}">Show students</a><br>
<a href="{% url 'generate_teachers:groups' %}">Show groups</a>

</body>
</html>
