<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Students list</title>
</head>
<body>

<a href="{% url 'index' %}">Main page</a> <a href="{% url 'students:create' %}">Create student</a><br><br>
<b>Students list:</b><br>
{% if students %}
    {% for student in students %}
        <form action="{% url 'students:edit' student.id %}">
            {{ student.info }}
        <input type="submit" value="Edit" />
        </form><br>
    {% endfor %}
{% else %}
    List is empty.
{% endif %}

</body>
</html>
